<h1 style="color:#428bca;">USERS List</h1>
<%= form_tag users_path, method: :get do %>
  <p>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", name: nil %>
  </p>
<% end %>
<table class="table table-hover" id="sortable">
  <thead>
    <tr>
      <th>#</th>
      <th><%= sortable "firstname" %></th>
      <th><%= sortable "lastname" %></th>
      <th><%= sortable "email" %></th>
      <% if current_user.admin? %>
        <th>Confirmed</th>
      <% end %>
      <th>Actions</th>
    </tr>
 </thead>
  <tbody class="users-index" >
  <%= render "index" %>
  </tbody>
</table>
<div id="product-modal" class="modal fade"></div>
<script type="text/javascript" charset="utf-8">
  new User.Sort()
</script>
