<ul class="nav nav-pills" style="float:right;">
  <% if current_user %>
   <!-- <li><p style="margin-top:10px;"><small>Logged in as <span style="color: #FF7F50;"><%= current_user.email %></span></small></li> -->
    <li>
    <div class="btn-group">
      <button class="btn dropdown-toggle" data-toggle="dropdown">Profile<span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li style="font-size:12px; text-align:center;color:#428bca;"><%= current_user.email %>
            <% if current_user.admin? %>
             <br>(admin)
            <% end %>
        </li>
        <li class="divider"></li>
        <li><%= link_to "Show profile", current_user %></li>
        <li><%= link_to "Edit profile", edit_user_path(current_user) %></li>
        <li class="divider"></li>
        <li><%= link_to "Log out", log_out_path %></li>
      </ul>
    </div>
    </li>
  <% else %>
      <li><%= link_to "Sign up", sign_up_path %></li>
      <li><%= link_to "Log in", log_in_path %></li>
    <% end %>
</ul>
